.ui.centered.cards {
    margin-top: 10px;
}

.ui.centered.cards image {
    height: 100%;
}

.flag {
    float: right;
    color: #000;
}

.flag:hover {
    /* color: #5ad2f4; */
    color: #db2828;
    cursor: pointer;
}

.card .description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 79px;
}

.card .image:hover {
    cursor: pointer;
}

.card .header {
    margin-bottom: 8px;
}

.card .meta {
    margin: 4px 0;
}

.card .ui.buttons {
    margin-top: 10px;
    display: block;
}

.extra.content {
    text-align: center;
}

.story-modal .actions {
    text-align: center !important;
}

.story-modal .actions .ui.buttons {
    margin-top: 10px;
    display: block;
}

.carousel {
    max-width: 400px;
    margin: 20px auto;
}

.carousel__slider {
    margin: 15px 0;
}

.carousel__slide {
    height: 600px;
}

.ui.modals.dimmer {
    padding: 30px;
}

.modals.dimmer .ui.scrolling.modal {
    max-width: 800px;
}

.modal-meta {
    margin: 5px 0;
    color: rgba(0, 0, 0, .4);
}

.images-modal .carousel {
    margin: 50px auto 20px;
    max-width: 700px;
}

.story-image:hover {
    cursor: pointer;
}

.ui.centered.cards .ui.card.default-card {
    display: block;
    background-image: url(/images/h2whoa-default.png);
    padding: 15px;
    border: 0;
    text-align: center;
}

.ui.centered.cards .ui.card.default-card .header {
    font-size: 25px;
    margin-bottom: 25px;
}

.ui.centered.cards .ui.card.default-card .description {
    font-size: 14px;
    max-height: 100%;
    line-height: 20px;
    color: #000;
}

.ui.centered.cards .ui.card.default-card .description strong {
    font-size: 16px;
}

.ui.centered.cards .ui.card .content {
    background-color: rgba(255, 255, 255, .9) !important;
    border-radius: .28571429rem .28571429rem !important;
}

.ui.centered.cards .extra.content {
    background-color: #fff !important;
}

.ui.card .ui.basic.button.plus-button {
    font-size: 80px;
    font-weight: 700;
    box-shadow: none !important;
    border-radius: 75px !important;
    margin: 25px 0;
    padding: 25px 30px 30px 30px;
    width: 140px;
    background-color: rgba(255, 255, 255, .8) !important;
}

.ui.card .ui.basic.button.plus-button:hover {
    background-color: #fff !important;
}

@media all and (min-width: 600px) {
    .mobile-call-to-scroll {
        display: none;
    }

    .ui.card .ui.basic.button.plus-button {
        margin-top: 50px;
    }

    .ui.centered.cards .ui.card.default-card .description, 
    .ui.centered.cards .ui.card.default-card .description strong {
        font-size: 18px;
        line-height: 24px;
    }
}

@media all and (min-width: 992px) {
    .modals.dimmer .ui.scrolling.modal {
        margin: 30px auto;
    }
}