.form-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
}

.ui.form .quill {
    margin-bottom: 1em;
}

.ui.form .ql-container {
    height: 200px;
}

img.ui.image {
    max-height: 340px;
    margin: 0 auto;
}

input[type="file"] {
    display: none;
}

.link-look {
    color: #36599c;
}

.link-look:hover {
    color: #294376;
    cursor: pointer;
}