body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: tomato;
    margin: 50px;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: 0;
    border-bottom: 1px solid #444;
    cursor: pointer;
}

.ui.primary.button {
    background-color: #36599c !important;
    color: #fff !important;
}

.ui.primary.button:hover {
    background-color: #294376 !important;
    color: #fff !important;
}

a {
    color: #36599c;
}

a:hover {
    color: #ffa969;
}